<mat-toolbar color="primary">
  <span>Tennis Match</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

</mat-toolbar>



<mat-grid-list cols="3" rowHeight="100px">
  <mat-grid-tile>
    <button mat-raised-button [disabled]="isEndGame"  color="primary" (click)="playGame()">Play Game</button>
    <button mat-raised-button color="accent" (click)="resetGame()">Reset</button>
  </mat-grid-tile>
      <mat-grid-tile>Set Score:</mat-grid-tile>
      <mat-grid-tile>Game Score:</mat-grid-tile>
  <ng-container *ngFor="let set of currentGame.sets">

  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile>{{set.playerOneGameScore}} : {{set.playerTwoGameScore}}</mat-grid-tile>

  <mat-grid-tile>{{getGameResultForSet(set)}}</mat-grid-tile>
  </ng-container>

</mat-grid-list>

